* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#display-top {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    gap: 20px;
    border-bottom: 2px solid rgb(183,163,157);
    padding: 20px;
    font-size: 1.2rem;
    align-items: center;
    img{
        height: 10px;
        width: 10px;
    }
    li{
        font-weight: bold;
        color: rgb(95,88,87);
    }
    li:nth-child(2) {
        font-size: 1.5em;
    }
}

.burger {
    display: none;
}

.line {
    background-color: black;
    width: 2em;
    height: 4px;
    margin-bottom: 4px;
}

.material-symbols-outlined {
    padding-top: 5px;
}

#display-top li:nth-child(3) {
    margin-left: auto;
}

.box-bg {
    width: 100%;
    height: 40vh;
    padding: 10px;
}

.bg {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.7), rgb(255, 255, 255, 0)),url(https://images.squarespace-cdn.com/content/v1/59532d4ae3df28164a992472/1511677346888-EXO1I0MIIKQM57LW8GID/jaroslaw-ceborski-250955.jpg?format=2500w);
 }


 #display-top2 {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 10px;
    border-top: 2px solid rgb(183,163,157);
    border-bottom: 2px solid rgb(183,163,157);
    padding: 10px;
    font-size: 1rem;
    li {
        font-weight: bold;
        color: rgb(95,88,87);
    }
 }

 .detail-img {

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    display: grid;
    border-bottom: 2px solid rgb(183,163,157);
    gap: 5px;
    padding: 10px;
 }

.item {
    img{
        width: 100%;
        height: 14em;
        border-radius: 0.5rem;
        background-size: cover;
        background-position: center;
    }
}
body {
    background: rgb(247,242,224);
}

footer {
    text-align: center;
    p{
        margin-top: 5px;
    }
    p:nth-child(3) {
        margin-top: 10px;
        font-weight: bold;
    }
    p:nth-child(1) {
        font-weight: bold;
    }
    color: rgb(95,88,87);
}

.text-box {
    width: 80%;
    padding: 60px 25px;
    p:nth-child(1) {
        color: rgb(84,77,77);
        text-shadow: 1px 1px rgb(233,192,82);
        font-weight: bold;
    }
    h1 {
        margin-bottom: 10px;
        color: rgb(84,77,77);
        text-shadow: 1px 2px rgb(233,192,82);
    }

    p:nth-child(3) {
        color: rgb(84,77,77);
        width: 60%;
        max-height: 4em;
    }
    p:nth-child(4) {
        margin-top: 20px;
        background-color: rgb(84,77,77);
        color: white;
        border-radius: 4rem;
        width: 25%;
        height: 2em;
        text-align: center;
        line-height: 2em;
        max-width: 8em;
    }
    
    
}

@media (max-width: 900px) {
    .text-box {
        p:nth-child(3) {
            min-width: 100%;
        }
        p:nth-child(4) {
            margin-top: 40px;
            
        }
    }
    .detail-img {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .item {
    img{
        width: 100%;
        height: 7em;
        border-radius: 0.5rem;
        background-size: cover;
        background-position: center;
        }
    }

    #display-top li:nth-child(3),
    #display-top li:nth-child(4),
    #display-top li:nth-child(5) {
        display: none;
    }

    .burger {
        display: block;
        margin-left: auto;
    }

    footer {
        text-align: start;
        margin-left: 10px;
    }

    .text-box {
        p:nth-child(1) {
            text-shadow: none;
        }
        h1 {
            text-shadow: none;
        }
    }

    #display-top2 {
        li:nth-child(3) {
            display: none;
        }
    }

}



