* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section {
    width: 100vw;
    height: 100vh;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    width: 100%;
    height: 100%;
    gap: 5px;
}

.item {
    width: 100%;
    height: 100%;
}

.item1 {
    grid-column: 1/3;
    grid-row: 1/5;
    background-image: url(https://images.unsplash.com/photo-1694875546238-67cb3596adf1?q=80&w=1336&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}

.item2,.item3,.item4,.item5 {
    background-size: cover;
    background-position: center;

}

.item2 {
    background-image: url(https://s.yimg.com/ny/api/res/1.2/itznbEF1bxYqkiJIjQxGoQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTE1NjA7aD04NzY7Y2Y9d2VicA--/https://media.zenfs.com/en/house_digest_articles_842/629787595ea713a1c89beb6b18457fd6);
}

.item3 {
    background-image: url(https://www.thekeyexecutives.com/wp-content/uploads/2025/11/IKEA-Launches-Forest-Restoration-Project-in-Brazil.jpg);
}

.item4 {
    background-image: url(https://unik-nordic.com/cdn/shop/files/ikea-smagoera-bett-sticker-aufkleber-baby-unterwasser-meer-tiere02jpg.jpg?v=1723034794&width=533);
}

.item5 {
    background-image: url(https://framerusercontent.com/images/IksUrr41PQKISgczMr24jBMss.png);
}

.detail-top {
    h1{
        color: rgb(249,226,16);
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: clamp(8rem,15vw,20rem);
        font-family: 'League Spartan', sans-serif;
        position: relative;
        transform: scale(1.5,1);
    }
    span {
        position: absolute;
        font-size: 2em;
        color: rgb(249,226,16);
        top: 2%;
        left: 53%;
    }
    
}

.detail-bottom {
    margin-top: 23vw;
    p:nth-child(1) {
        font-size: clamp(1.5rem,2vw,2rem);
        color: white;
        margin-left: 20vw;
        font-family: 'Noto Sans', sans-serif;
        text-shadow: 1px 1px black;
    }

    p:nth-child(2) {
        color: white;
        margin-left: 1.5vw;
        font-size: 1.5em;
        margin-left: 21.5vw;
        font-family: 'Noto Sans', sans-serif;
    }
}

.child-text {
    color: rgb(251,251,251);
    text-shadow: 1px 2px 0 #000;
    font-size: 1.5em;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
}

.line {
    display: flex;
    margin-left: 32%;
    margin-top: 2%;
    p:nth-child(1){
        background-color: rgb(249,226,16);
        width: 5em;
        height: 3em;
        border-top-left-radius: 4em;
        border-bottom-left-radius: 4em;
        text-align: center;
        line-height: 6vh;
        font-family: 'Noto Sans', sans-serif;
        color: white;
        text-shadow: 1px 1px black;
    }
    p:nth-child(2){
        background: rgba(249,226,16,0.8);
        width: 15em;
        height: 3em;
        line-height: 6vh;
        padding-left: 2vw;
        border-top-right-radius: 4em;
        border-bottom-right-radius: 4em;
        font-family: 'Noto Sans', sans-serif;
        color: white;
        text-shadow: 1px 1px black;
    }
}

@media (max-width:900px) {
    .box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8,1fr);
    }

    .item{
        grid-column: 1/3;
    }
    
    .detail-bottom {
        p:nth-child(1) {
            font-size: 1em;
            margin-left: 10em;
        }
    }

    .line {
        margin-left: 17%;
        margin-top: 1%;
    }

    .detail-bottom {
        margin-top: 20vw;
    p:nth-child(1) {
        font-size: 1.2em;
        color: white;
        margin-left: 20vw;
        
    }

    p:nth-child(2) {
        color: white;
        margin-left: 1.5vw;
        font-size: 3vw;
        margin-left: 22vw;
    }
    }

    .child-text {
        font-size: 1em;
    }

    .detail-top span{
        left: 85vw;
    }
}